extends layout

block body
  div.container.frontpage
    div.text-right
      a.btn.btn-link(href="/login")
        | Login
    include ./flash
    div.frontpage-headline
      h1
        | basho
      h2
        | effortless statuses
    div.frontpage-register
      h4
        | register for the private beta
      form(method="POST")
        div.input-group
          input.input-lg.form-control(type="email", name="email" placeholder="Your email")
          span.input-group-btn
            button.btn.btn-primary.btn-lg(type="submit")
              i.fa.fa-arrow-right