.status-pill
  border: 1px solid black
  border-radius: 5px
  padding: 10px 8px
  max-width: 520px
  margin: 0 auto
  line-height: 20px
  color: color-primary

  &.red
    // background-color: color-danger
    border-color: color-danger

  &.green
    background-color: color-green

  &.blue
    background-color: color-blue

  img
    height: 60px
    width: 60px

  .status-user
    margin-top: 7px
    font-size: 14px

  .status-details
    font-size: 24px